@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

h2{
    font-family: "Nosifer", sans-serif;
    color: rgb(196, 136, 24);
   

}
h2:hover{
    text-shadow: 5px 15px 15px rgb(212, 77, 77);
}
div{
    border: solid orange;
    width:250px;
    margin-top: 100px;
    border-radius: 15%;
    box-shadow: 15px 15px 15px rgb(197, 87, 87);
    background-color:rgb(220, 198, 170);
    
}
label{
font-family: "Fredoka", sans-serif;
color: rgb(130, 77, 6);
font-weight: 500;


}
input{
  border-radius: 888px;
  width: 190px;
  line-height: 1.5;
  
  
}
.b:hover{
background-color: orange;
color: aliceblue;
transition: 1s;
}
.b:active{
    background-color: rgb(122, 88, 7);
    transform: scale(0.9);
  

}
#sign{
     border: solid orange;
    width:300px;
    margin-top: 100px;
    border-radius: 15%;
    box-shadow: 15px 15px 15px rgb(224, 80, 80);
    background-color: rgb(193, 198, 177);
   

}
input:hover{
    box-shadow: 5px 15px 15px;
}
button{
    width: 150px;
    border-color:solid orange;
   border-width: 2px;
   border-radius: 888px;
line-height: 1.5;
}
button:hover{
    background-color: rgb(240, 151, 34);
    box-shadow: 5px 15px 15px rgb(209, 91, 91);
transition: 2s;}
    
    button:active{
        background-color: rgb(88, 56, 4);
       transform: scale(0.9);
        transition: 1s;
        cursor: pointer;
    }
   
a{
       text-decoration: none;
}

a:hover{
    color: aliceblue;
}
#s{
    color: blue;
    text-decoration: none;
}
#s:hover{
    color:brown;
    transition: 2s;
    scale: 0.9px;
}


.b{
    line-height: 1.5;
    scale: 0.9;
}
body{
    background-image: url(./dang\ anime.jpg);
}
img{
    width: 500px;
    height: 500px;
}
.b{
    scale: 0.9;
}